<div class="row">
    <div class="col-lg-3" id="blog-date-posted">
        <div class="card blog-card">
            <h1>Date Posted</h1>
            <ul>
                <li><a href="#">December</a></li>
                <li><a href="#">January</a></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-6" id="blog-feed">
        <div class="card blog-card">
            <h1 class="card-title"><a href="#">Blog Post 1</a></h1>
            <p class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel blandit turpis, non
                viverra mauris. Nullam auctor odio ut ipsum pulvinar, et cursus justo imperdiet. Aliquam
                tellus justo, mollis a vehicula et, hendrerit non erat. In imperdiet, sem bibendum blandit
                iaculis, velit tortor luctus nulla, et egestas justo risus vitae libero. Donec tempor ligula
                a efficitur sodales. Pellentesque lacinia lectus non elit pellentesque, vitae tempor sem
                blandit. Maecenas eu lorem vitae mi consequat suscipit.
            </p>
            <div class="card-footer">15/05/2020</div>
        </div>
        <div class="card">
            <h1 class="card-title"><a href="#">Blog Post 2</a></h1>
            <p class="card-body">
                Vivamus ex dui, suscipit in tortor sit amet, imperdiet tempus erat. Phasellus ut augue
                finibus, viverra diam in, condimentum purus. Etiam augue metus, condimentum quis enim quis,
                faucibus mattis enim. Pellentesque tincidunt felis ut lectus iaculis dignissim. Donec
                vehicula quam at venenatis euismod. Aenean mollis metus at libero ultrices, ac viverra felis
                facilisis.
            </p>
            <div class="card-footer">15/05/2020</div>
        </div>
    </div>
    <div class="col-lg-3" id="blog-keywords">
        <div class="card blog-card">
            <h1 class="card-title">Keywords</h1>
            <ul>
                <li><a href="#">Some</a></li>
                <li><a href="#">Key</a></li>
                <li><a href="#">Words</a></li>
            </ul>
        </div>
    </div>
</div>