<a class="navbar-brand" href="/docs/index.html">Andy Wang</a>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbar-content">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/docs/blog/index.html">Blog</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Projects</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="https://pi-trainer.herokuapp.com/">Pi Trainer</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Tutorials</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/docs/tutorials/2020/set-up-a-raspber.html">Set Up a Raspberry Pi Without a Monitor</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/docs/gallery/index.html">Gallery</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/docs/contact/index.html">Contact</a>
        </li>
    </ul>
</div>