footer {
    font-size: 0.8em;
    padding: 2rem 2rem 0rem;
    text-align: center;

    .fa {
        color: black;
        font-size: 2.5em;
        padding: 20px;
        width: 60px;
    }
    .fa:hover {
        text-decoration: none;
    }
}
