main {
    line-height: 2;
    padding: 3rem 2rem 0rem;
}
main h1 {
    font-size: 26px;
    margin-bottom: 30px;
}
main h2 {
    font-size: 20px;
    font-style: italic;
}
.main-text p {
    margin-bottom: 20px;
}
