#page {
    font-size: 16px;
}

.site-logo {
    font-size: 2.5rem;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: lighter;
}

.navigation-menu {
    font-size: 1.2rem;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: lighter;
    text-align: right;
}

main {
    font-size: 1rem;
    line-height: 2.5;
    font-family: 'Open Sans', sans-serif;
}

footer {
    font-size:0.5rem;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}